{% extends 'base.html.twig' %}
{% block title %}Profile!
{% endblock %}
{% block body %}
	<div class="flex gap-7 h-screen overflow-hidden">
		<twig:Sidebar/>
		<div class="flex flex-col gap-5 w-full sm:w-1/2 md:w-1/3 px-4 md:px-0 overflow-y-auto">
			<div class="flex items-center gap-3 mt-6 md:mt-14">
				<button class="md:hidden text-gray-600 text-xl" onclick="toggleSidebar()">
					<i class="fa-solid fa-bars"></i>
				</button>
				<h1 class="text-2xl font-bold">Mon Profil</h1>
			</div>
			<div class="bg-white card-box-shadow  py-6 md:py-8 px-5 md:px-10 w-full">
				{{ form_start(profileForm, { attr: { class: 'flex flex-col gap-3', id: 'profile-form' } }) }}
				<div class="flex flex-col gap-3">
					{{ form_label(profileForm.company_name, 'Raison Sociale', { label_attr: { class: 'label-style' } }) }}
					{{ form_widget(profileForm.company_name, { attr: { class: 'input-style' } }) }}
					<p class="text-[#6A7282]">Le nom de votre entreprise qui apparaîtra sur vos factures.</p>
				</div>
				{{ form_label(profileForm.siret, 'Numéro SIRET (Optionnel)', { label_attr: { class: 'label-style' } }) }}
				{{ form_widget(profileForm.siret, { attr: { class: 'input-style' } }) }}
				<div class="flex flex-col gap-3">
					{{ form_label(profileForm.iban, 'IBAN', { label_attr: { class: 'label-style' } }) }}
					{{ form_widget(profileForm.iban, { attr: { class: 'input-style' } }) }}
					<p class="text-[#6A7282]">Compte bancaire qui recevra les virements de vos clients.</p>
				</div>
				{{ form_label(profileForm.cgv, 'Conditions Générales de Vente (CGV)', { label_attr: { class: 'label-style' } }) }}
				{{ form_widget(profileForm.cgv, { attr: { class: 'input-style max-h-48 resize-none', placeholder:'Ces conditions apparaîtront en bas de vos factures PDF...' } }) }}
				<twig:Modal
					message="Enregistrer les modifications du profil ?"
					formId="profile-form"
					confirmLabel="Enregistrer"
				>
					<twig:block name="trigger">
						<button type="button" class="btn-primary bg-color-primary w-full">Enregistrer les modifications</button>
					</twig:block>
				</twig:Modal>
				{{ form_end(profileForm) }}
			</div>
		</div>
	</div>
{% endblock %}
