{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="flex flex-col justify-center items-center h-screen">

		<div class="flex flex-col gap-5  ">

			<div class="flex flex-col items-center gap-3">
				<img src="{{ asset('imagenes/Icon.png') }}" alt="icon.png">
				<h1 class="font-bold text-3xl">Créez votre compte</h1>
				<p class="text-gray-500">Ou
					<a href="{{ path('app_login') }}" class="link-color-primary">connectez-vous à votre compte</a>
				</p>
			</div>

			<div class="flex flex-col bg-white card-box-shadow gap-3 py-8 px-10">
				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}

				<div class="flex gap-5">
					<div class="flex flex-col gap-1">
						{{ form_label(registrationForm.first_name, 'Prenom', {'label_attr': {'class': 'label-style'}}) }}
						{{ form_widget(registrationForm.first_name, {'attr': {'class': 'input-style mb-5', placeholder:'Jean'}}) }}
					</div>
					<div class="flex flex-col gap-y-0.5">

						{{ form_label(registrationForm.last_name, 'Nom', {'label_attr': {'class': 'label-style'}}) }}
						{{ form_widget(registrationForm.last_name, {'attr': {'class': 'input-style mb-5', placeholder:'Dupont'}}) }}
					</div>
				</div>
				<div class="flex flex-col gap-2">

					{{ form_label(registrationForm.company_name, 'Raison Sociale', {'label_attr': {'class': 'label-style'}}) }}
					{{ form_widget(registrationForm.company_name, {'attr': {'class': 'input-style mb-5', placeholder:'Tech Solutions'}}) }}

					{{ form_label(registrationForm.iban,'IBAN', {'label_attr': {'class': 'label-style'}}) }}
					{{ form_widget(registrationForm.iban, {'attr': {'class': 'input-style mb-5', placeholder:'FR76 1234 5678 9012 3456 7890 123'}}) }}

					{{ form_label(registrationForm.email, 'Adresse Email', {'label_attr': {'class': 'label-style'}}) }}
					{{ form_widget(registrationForm.email, {'attr': {'class': 'input-style mb-5', placeholder:'contact@entreprise.fr'}}) }}

					{{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'label-style'}}) }}
					{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input-style mb-5', placeholder:'password'}}) }}


					<button type="submit" class="btn-primary bg-color-primary">Créer mon compte</button>

					{{ form_end(registrationForm) }}
				</div>
			</div>

		</div>

	</div>
{% endblock %}
